* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  display: grid;
  align-items: center;
  justify-items: center;
}

header {
  color: rgb(35, 39, 38);
  background: rgb(72, 212, 170);
  
  border: solid rgb(9, 126, 91);
  border-radius: 10px;
  
}
.boton{
  border-radius: 10px;
  height: 34px;
  
}
p{
  display: grid;
  text-align: center;
  margin:0;
  padding-bottom: 6px;
  
}